

/**************** NAVIAGATION BAR *********************/
header {
    position: relative;
}

.navigationBar {
    display: none;
}

.navigationBar {
    z-index: 1;
    position: absolute;
    top:0;
    font-size: 2rem;
}

.navigationBar a {
    color: white;
}

.navigationBar a:hover {
    color: orange;
}

.navigationBar a:active {
    color: greenyellow;
}

.dropdown {
    z-index: 1;
    position: absolute;
    top:0;
    right: 1rem;
    font-size: 2rem; 
}

.dropdown-menu {
   margin-right: 80px;
}

.dropdown-toggle {
    background-color: #fff;
    width: 50px;
   
}

/**************** COVER  *********************/

#coverName {
z-index: 2;
position: absolute;
top: 30%;
color: #fff;
text-align: center;
font-size: 4rem;

}

#coverName p:hover {
 transform: scale(1.3);
}

.parallaxCover { 
    /* The image used */
    background-image: url("largeCompImage.jpg");

    /* Set a specific height */
    height: 900px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**************** CV CONTAINER *********************/
.cvContainer {
    background-color: #000;
    color: #fff;
}

.headerContainer {
    background-color: #fff;
    padding: 20px;
}

.tracyImage {
    height: 100px;
    width: 100px;
}

#aboutDiv {
    padding: 1rem;
}


/**************** CODING IMAGE CONTAINER *********************/
  

.parallax { 
    /* The image used */
    background-image: url("codingImage.jpg!d");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallaxCodeImage { 
    /* The image used */
    background-image: url("screenCodeImage.jpeg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/**************** PROJECT CONTAINER *********************/




#Projects {
 text-align: center;
 padding: 2rem;
 border-bottom: 2px solid  #000;
}

.projectContainer {
    padding: 2rem;
   
}

.projectContainer a {
    color: #587272;
}

.projectContainer a:hover {
    color: #000;
}

.projectContainer h1 {
    font-size: 2rem;
    text-align: center;
}

.projectContainer h2 {
    font-size: 1rem;
    text-align: center;
}

.project-imgs {
  height: 200px;
  width: 270px;
  display: block;
  margin: 0 auto;
}

.project {
    padding: 1rem;
}

.link-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link-content a {
    margin-right: 40px;
}



/**************** CONTACT CONTAINER *********************/
#contactSection {
    background-color: #000;
    color: #fff;
    padding: 30px;
   
}

#contactSection h1, #contactSection p{
 text-align: center;
}

#linkedin {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}


/**************** FOOTER CONTAINER *********************/

.arrow {
 height: 40px;
 width: 40px;
 border-radius: 50%;
}

footer img {
    display: block;
    margin: 0 auto;
}

/**************** Media Queries *********************/

@media (min-width: 768px){
    
.navigationBar {
    display: flex;
    }
    
.dropdown {
    display: none;
    }
    

}